body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.6;
    margin: 0;
    background: whitesmoke;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* Адаптивная верстка - сетка */




/* Звездочка означает все элементы страницы, before и after это псевдоэлементы чтобы вставить текст перед или после элемента*/
*,
::before,
::after{
    box-sizing: border-box;
}

/* Стилизация шапки header*/
.header{
    width: 100%;

}

/*container*/
.container {
    width: 1440px;
    margin: 0 auto;
}


/*Первая страница*/

/*Стиль для верхнего блока с навигацией*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

/*Стиль для логотипа*/
.header_logo {
    font-size: 40px;
    font-weight: bold;
    color: #311914;
    font-family: 'Nothing You Could Do', cursive;
    text-decoration: none;

}
/*Стиль для блока с навигацией*/
.nav {
    font-size: 18px;
    font-weight: lighter;
    color: black;
    text-transform: lowercase;
}

/*Стиль для ссылок навигации*/
.nav_link {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 15px;
    color: #311914;
    text-decoration: none;

    transition: color .1s linear;
}

/*Подчеркивание навигационного меню*/
.nav_link::after{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: darkolivegreen;
    opacity: 0;

    transition: opacity .1s linear;
}

.nav_link:hover::after{
    color: #311914;
    opacity: 1;
}

/*Смена цвета ссылок*/
.nav_link:hover {
    color: #311914;
}

/*Блок вступления (intro)*/
.intro {
    background: url("images/home.jpg")center no-repeat;
    width: 100%;
    margin-top: 120px;
    height: 59vh;
    background-attachment: fixed;
}

.intro_text {
    font-size: 20px;
    font-weight: normal;
    color: white;
    letter-spacing: 13px;
    text-align: right;
    padding-top: 50vh;
    padding-right: 10vh;
}


/*Section*/

.section {
    padding: 80px 0 0;
}
.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;

}

.section_suptitle {
    font-size: 30px;
    font-weight: bold;
    color: #311914;
    font-family: 'Nothing You Could Do', cursive;
    margin: 0 auto;

}

.section_title {
    font-size: 30px;
    font-weight: bold;
    color: #311914;

}

.section_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #311914;
    margin: 30px auto;

}

.section_text {
    color: #311914;
}


/*Write*/

.write {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.write_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.write_image {
    display: block;
}


.write_item:hover {
    transform: translate3d(-10px, -10px, 0);
}

.write_item {
    transition: transform .2s linear;
}

.write_image:hover{
    opacity: .6;
}

/* Tell*/

.tell_blok {
    width: 100%;
    height: 65vh;
    background: url("images/tell/tell.jpg");

    text-align: center;

}


.tell_button {
    display: inline-block;
    vertical-align: top;
    position: relative;

    font-size: 30px;
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
    color: #311914;
    text-decoration: none;
    margin-top: 350px;


}

.tell_button::after {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 0;

    opacity: 0;

    transition: opacity .3s linear, color .3s linear;

}


.tell_button:hover {
    color: white;
}

.tell_button:hover::after {
    opacity: 1;

}

/*Live*/

.live {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.live_image {
    width: 50%;
    opacity: 1;
    padding: 0 40px;


    transition: .3s linear;
}

.live_image:hover {
    opacity: .6;
    transform: scale(1.1);
}



/*Hello*/


.hello {
    display: flex;
    justify-content: space-between;
    text-align: center;

}


.hello_item {
    width: 33%;
    position: relative;
}


.hello_item h3 {
    color: white;
    position: absolute;
    left: 0;
    bottom: 75%;
    width: 100%;

    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 3px;
    padding: 12px;

}


/*Instagram*/


.instagram {
    display: flex;
    text-decoration: none;
    margin: 80px 0px;

}


.instagram_item {
    width: 50%;
    text-align: center;
}

.link {
    text-decoration: none;
}


.instagram_image {
    opacity: 1;

    transition: opacity .3s linear;
}


.instagram_image:hover {
    opacity: .6;
}

.instagram_title {
    font-size: 30px;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    color: #311914;
    padding: 140px 0 0;
    margin: 0 auto;
}


.instagram_text {
    font-size: 17px;
    padding: 12px;
}

.icon_inst {
    padding: 15px;
    opacity: 1;

    transition: opacity .3s linear;
}

.icon_youtube {
    padding: 15px;
    opacity: 1;

    transition: opacity .3s linear;

}

.icon_inst:hover {
    opacity: .6;
}

.icon_youtube:hover {
    opacity: .6;
}





/*Вторая Страница - О проекте!!!!!!*/

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;

}

.about_before {
    border: none;
    width: 100%;
    height: 2px;
    background-color: darkolivegreen;
    margin-top: 100px;
    opacity: 0.5;



}

.about_header {
    font-family: 'Nothing You Could Do', cursive;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}



.about_paragraph {
    text-indent: 0%;
    display: inline-block;
    text-align: left;

}



.about_item {
    width: 50%;
}

.about_item:first-child {
    padding-top: 40px;
}

.about_img {
    display: flex;
    justify-content: center;
}


.about_img img {
    display: block;
}


.about_text {
    padding-right: 60px;
    display: inline-block;
    text-align: center;
    text-indent: 0;

}


.about_title {
    font-size: medium;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

.about_progects {
    display: block;
    width: 100%;
}

.about_text_progects {
    display: inline-block;
    text-indent: 0;
    width: 100%;
    padding-left: 105px;
}

.section_footer::before {
    display: block;
    content: "";
    background-color: darkolivegreen;
    opacity: 0.5;
    width: 100%;
    height: 2px;
    margin: 40px auto;
}


.footer_text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;

}

.footer_icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*Вторая страница подчеркивание ссылок!!!!!*/

.instagram_link {
    text-decoration: none;
    color: darkolivegreen;
    font-weight: bold;
}


.youtube_link {
    text-decoration: none;
    color: darkolivegreen;
    font-weight: bold;
}


/* Страница сconnection*/

.connection_title {
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}

.connection_header {
    font-family: 'Nothing You Could Do', cursive;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

.connection_title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: darkolivegreen;
    margin: 0 0;
    opacity: 0.5;
}

.connection_picture{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 30px;
}

.feedback {
    margin: 0 auto;
}


/* Форма обратной связзи */

.form_inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;
    text-align: center;
    padding-right: 50px;
}

.contact_form {
    background: url("images/connection/feedback.jpg") center no-repeat;
}

 input {
     width: 50%;
     height: 40px;
     font-size: 20px;
     margin-bottom: 0;
     display: inline-block;
     text-transform: lowercase;
     font-family: 'Nothing You Could Do', cursive;

 }

 textarea {
     width: 50%;
     height: 160px;

 }

 input,textarea {
     border: darkolivegreen solid 1px;
 }


 .text_form {
     font-size: 15px;
     margin: 30px 0 0 0;
     color: white;
     font-weight: bold;
     display: inline-block;
     text-align: left;
     width: 50%;
 }

 .red {
     color: darkolivegreen;
 }

.button_form {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
    width: 175px;
}

.button_form input {
    color: darkolivegreen;
}



/* Страница Истории моих растений */

.header_history {
    padding-top: 150px;
    margin: 0 auto;
    text-align: center;
}

.history {
    display: flex;
    justify-content: space-between;
}

.history_item {
    margin: 0 auto;
    padding: 0 0 50px;
    width: 40%;
}

.history_header {
    font-family: 'Nothing You Could Do', cursive;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.history_header::after {
    display: block;
    content:"";
    height: 2px;
    width: 100%;
    margin:0;
    background-color: darkolivegreen;

}

.my_history_header {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.6;
}


.my_history {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.figure {
    margin: 0;
    padding: 5px;
}